.containerCard{
    margin: 45px 100px;
    padding: 25px;
    background-color: #F6F6F6;
    border-radius: 25px;
    @media(max-width: 767px){
        background-color: #FFFFFF;
        margin: 45px 0px;
    }
}
.ensembleFichesCard{
    margin: 0px;display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px; 
}
.ficheCard{
    height: 340px;
    width: 340px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    justify-content:center;
    position: relative;
    margin: 25px;
}
.imageCard{
    height: 100%;
}
.degradeCard{
    position: absolute;height: 340px; width: 340px;
    background : linear-gradient(rgba(255,255,255, 0),rgba(0,0,0, 0.4));

}
.titreCard{
    z-index: 1;
    position: absolute;left: 0px;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}