.containerCard{
    padding: 25px;
    background-color: #F6F6F6;
    border-radius: 25px;
    @media(max-width: 767px){
        background-color: #FFFFFF;
        margin: 45px 20px;
        padding: 0;
    }
    @media(min-width: 768px) and (max-width: 991px){
        margin: 45px 60px;
    }
    @media(min-width: 992px){
        margin: 45px 100px;
    }
}
.lienCard{
    @media(max-width: 767px){
        margin: -20px -20px 50px;
    }
}
.ensembleFichesCard{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px; 
}

.ficheCard{
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    justify-content:center;
    position: relative;
    margin: 25px;
    @media(max-width: 767px){
        height: 100%;
        width: auto;
    }
    @media(min-width: 768px) and (max-width: 991px){
        height: 400px;
        width: 400px;
    }
    @media(min-width: 992px){
        height: 340px;
        width: 340px;
    }
    & .degradeCard:hover + .imageCard {
        transform: scale(1.2);
    }
}
.imageCard{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.degradeCard{
    z-index:1;
    position: absolute;
    height: 100%; 
    width: 100%;
    background : linear-gradient(rgba(255,255,255, 0),rgba(0,0,0, 0.4));
}
.titreCard{
    z-index: 2;
    position: absolute;left: 0px;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}