.containerCard{
    margin: 45px 100px;
    padding: 25px;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;border: 2px solid red;
    justify-content: center;
    @media(max-width: 767px){
        background-color: #FFFFFF;
    }
}
.ficheCard{
    height: 340px;
    width: 340px;
    border-radius: 10px;
    display: flex;overflow: hidden;
    align-items: flex-end;border: 2px red solid;
    margin: 25px;
    position: relative;
}
.imageCard{
    background-image:linear-gradient(rgba(255,255,255, 0),rgba(0,0,0, 0.4));
    height: 100%;
}

.texteCard{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
}