body {
  margin: 0;
  font-family: Montserrat, Raleway, Open Sans, Roboto, Oswald, Lato;
  color: #FF6060;
}

a {
  text-decoration: none;
  color: #FF6060;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

p {
  margin: 0px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .containerHeader {
    margin: 20px 20px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerHeader {
    margin: 30px 60px 0px;
  }
}
@media (min-width: 992px) {
  .containerHeader {
    margin: 40px 100px 0px;
  }
}

@media (max-width: 767px) {
  .logoHeader {
    height: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logoHeader {
    height: 58px;
  }
}
@media (min-width: 992px) {
  .logoHeader {
    height: 68px;
  }
}

@media (max-width: 430px) {
  .menuHeader {
    display: flex;
    height: 50px;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
  }
}
@media (min-width: 431px) {
  .menuHeader .lienPageAccueil {
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .lienPageAccueil, .lienPageApropos {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .lienPageAccueil, .lienPageApropos {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .lienPageAccueil, .lienPageApropos {
    font-size: 24px;
  }
}

.containerBanner {
  height: 223px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}
@media (max-width: 767px) {
  .containerBanner {
    margin: 20px 20px 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerBanner {
    margin: 30px 60px 25px;
  }
}
@media (min-width: 992px) {
  .containerBanner {
    margin: 40px 100px 30px;
  }
}

.imageBanner {
  filter: brightness(70%);
}

.accueilBanner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.aproposBanner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.textBanner {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .textBanner {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .textBanner {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .textBanner {
    font-size: 48px;
  }
}

@keyframes slideGauche {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.containerPhotos {
  position: relative;
  overflow: hidden;
  background-color: grey;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .containerPhotos {
    margin: 30px 20px;
    height: 255px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerPhotos {
    margin: 30px 60px;
    height: 335px;
  }
}
@media (min-width: 992px) {
  .containerPhotos {
    margin: 30px 100px;
    height: 415px;
  }
}
.containerPhotos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerChevrons {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 20px;
}

.chevronGauche {
  z-index: 1;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .chevronGauche {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .chevronGauche {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .chevronGauche {
    font-size: 60px;
  }
}
.chevronGauche :hover {
  cursor: pointer;
}

.chevronDroit {
  z-index: 1;
  font-size: 60px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .chevronDroit {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .chevronDroit {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .chevronDroit {
    font-size: 60px;
  }
}
.chevronDroit :hover {
  cursor: pointer;
}

.paginationPhotos {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .paginationPhotos {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .paginationPhotos {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .paginationPhotos {
    font-size: 18px;
  }
}

@keyframes ouverture {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes fermeture {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
    margin-top: -140px;
  }
}
.containerCollapse {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .containerCollapse {
    margin: 35px 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerCollapse {
    margin: 35px 160px;
  }
}
@media (min-width: 992px) {
  .containerCollapse {
    margin: 35px 300px;
  }
}
.containerCollapse :hover {
  cursor: pointer;
}

.titreCollapse {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FF6060;
  color: #FFFFFF;
  padding: 0 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .titreCollapse {
    font-size: 13px;
    height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .titreCollapse {
    font-size: 18px;
    height: 38px;
  }
}
@media (min-width: 992px) {
  .titreCollapse {
    font-size: 24px;
    height: 47px;
  }
}

.containerDescriptionCollapse {
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: center;
}

.descriptionCollapse {
  width: 100%;
  background-color: #F6F6F6;
  margin: 0;
  border-radius: 5px;
  padding: 20px;
}
@media (max-width: 767px) {
  .descriptionCollapse {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .descriptionCollapse {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .descriptionCollapse {
    font-size: 24px;
  }
}

.collapseOuvert {
  animation: ouverture 1s;
}

.collapseFerme {
  animation: fermeture 1s forwards;
}

.containerCard {
  padding: 25px;
  background-color: #F6F6F6;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .containerCard {
    background-color: #FFFFFF;
    margin: 45px 20px;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerCard {
    margin: 45px 60px;
  }
}
@media (min-width: 992px) {
  .containerCard {
    margin: 45px 100px;
  }
}

@media (max-width: 767px) {
  .lienCard {
    margin: -20px -20px 50px;
  }
}

.ensembleFichesCard {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.ficheCard {
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin: 25px;
}
@media (max-width: 767px) {
  .ficheCard {
    height: 100%;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ficheCard {
    height: 400px;
    width: 400px;
  }
}
@media (min-width: 992px) {
  .ficheCard {
    height: 340px;
    width: 340px;
  }
}
.ficheCard .degradeCard:hover + .imageCard {
  transform: scale(1.2);
}

.imageCard {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.degradeCard {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}

.titreCard {
  z-index: 2;
  position: absolute;
  left: 0px;
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.logoFooter {
  height: 40px;
  color: #FFFFFF;
  margin: 66px 0px 40px;
}

.containerFooter {
  background-color: #000000;
  text-align: center;
  height: 210px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .containerFooter {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerFooter {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .containerFooter {
    font-size: 24px;
  }
}

.pageErreur {
  text-align: center;
}

.numeroErreur {
  margin: 130px 0px 60px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .numeroErreur {
    font-size: 96px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .numeroErreur {
    font-size: 192px;
  }
}
@media (min-width: 992px) {
  .numeroErreur {
    font-size: 288px;
  }
}

.textErreur {
  margin: 0 100px 150px;
}
@media (max-width: 767px) {
  .textErreur {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .textErreur {
    font-size: 27px;
  }
}
@media (min-width: 992px) {
  .textErreur {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .lienErreur {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .lienErreur {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .lienErreur {
    font-size: 18px;
  }
}

.pageLogement {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .pageLogement {
    margin: 0 20px 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pageLogement {
    margin: 0 60px 30px;
  }
}
@media (min-width: 992px) {
  .pageLogement {
    margin: 0 100px 30px;
  }
}

.containerDescriptionLogement {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .containerDescriptionLogement {
    flex-direction: column;
  }
}

.presentationLogement {
  display: flex;
  flex-direction: column;
}
.presentationLogement h1 {
  margin: 0 0 5px;
}
@media (max-width: 767px) {
  .presentationLogement h1 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .presentationLogement h1 {
    font-size: 27px;
  }
}
@media (min-width: 992px) {
  .presentationLogement h1 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .presentationLogement p {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .presentationLogement p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .presentationLogement p {
    font-size: 18px;
  }
}

.situationLogement {
  margin-bottom: 20px;
}

.tagsLogement span {
  color: #FFFFFF;
  background-color: #FF6060;
  margin: 0 10px 0 0;
  border-radius: 10px;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .tagsLogement span {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tagsLogement span {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .tagsLogement span {
    font-size: 14px;
  }
}

.containerEvaluationLogement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .containerEvaluationLogement {
    flex-direction: row-reverse;
  }
}

.hoteLogement {
  display: flex;
}

.identiteLogement {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 10px 0 0;
}
@media (max-width: 767px) {
  .identiteLogement {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .identiteLogement {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .identiteLogement {
    font-size: 18px;
  }
}

.containerImageHoteLogement {
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .containerImageHoteLogement {
    height: 32px;
    width: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerImageHoteLogement {
    height: 48px;
    width: 48px;
  }
}
@media (min-width: 992px) {
  .containerImageHoteLogement {
    height: 64px;
    width: 64px;
  }
}

.imageHoteLogement {
  height: 100%;
}

.etoileLogement {
  color: #E3E3E3;
  margin: 0px 0px 0px 10px;
}
@media (max-width: 767px) {
  .etoileLogement {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .etoileLogement {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  .etoileLogement {
    font-size: 22px;
  }
}

.etoileLogementColoree {
  margin: 10px 0px 0px 10px;
}
@media (max-width: 767px) {
  .etoileLogementColoree {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .etoileLogementColoree {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  .etoileLogementColoree {
    font-size: 22px;
  }
}

.containerDetailLogement {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .containerDetailLogement {
    flex-direction: column;
  }
}

.containerCollapseLogement {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media (max-width: 767px) {
  .containerCollapseLogement {
    width: 100%;
  }
}
.containerCollapseLogement :hover {
  cursor: pointer;
}

.titreCollapseLogement {
  width: 100%;
  height: 47px;
  border-radius: 5px;
  background-color: #FF6060;
  color: #FFFFFF;
  font-size: 20px;
  padding: 0 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .titreCollapseLogement {
    font-size: 13px;
    height: 30px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .titreCollapseLogement {
    font-size: 18px;
    height: 38px;
  }
}
@media (min-width: 992px) {
  .titreCollapseLogement {
    font-size: 24px;
    height: 47px;
  }
}

.descriptionCollapseLogement {
  width: 100%;
  background-color: #F6F6F6;
  margin: 0;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .descriptionCollapseLogement {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .descriptionCollapseLogement {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .descriptionCollapseLogement {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
