body {
  margin: 0;
  font-family: Montserrat, Raleway, Open Sans, Roboto, Oswald, Lato;
  color: #FF6060;
}

a {
  text-decoration: none;
  color: #FF6060;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

p {
  margin: 0px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 0px;
}
@media (max-width: 530px) {
  .containerHeader {
    margin: 40px 50px 0px;
  }
}

@media (max-width: 767px) {
  .logoHeader {
    height: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logoHeader {
    height: 58px;
  }
}
@media (min-width: 992px) {
  .logoHeader {
    height: 68px;
  }
}

@media (max-width: 430px) {
  .menuHeader {
    display: flex;
    height: 50px;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
  }
}
@media (min-width: 431px) {
  .menuHeader .lienPageAccueil {
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .lienPageAccueil, .lienPageApropos {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .lienPageAccueil, .lienPageApropos {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .lienPageAccueil, .lienPageApropos {
    font-size: 24px;
  }
}

.containerBanner {
  height: 223px;
  overflow: hidden;
  border-radius: 25px;
  margin: 60px 100px 40px;
  position: relative;
}

.imageBanner {
  filter: brightness(70%);
  width: 1720px;
}

.accueilBanner {
  object-position: 0px -1210px;
}

.aproposBanner {
  object-position: 0px -500px;
}

.textBanner {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .textBanner {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .textBanner {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .textBanner {
    font-size: 48px;
  }
}

.containerPhotos {
  margin: 30px 100px;
  height: 415px;
  position: relative;
  overflow: hidden;
  background-color: grey;
  border-radius: 25px;
}
.containerPhotos img {
  width: 100%;
  position: absolute;
  bottom: -35px;
}

.containerChevrons {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 20px;
}

.chevronGauche {
  z-index: 1;
  font-size: 60px;
  color: #FFFFFF;
}
.chevronGauche :hover {
  cursor: pointer;
}

.chevronDroit {
  z-index: 1;
  font-size: 60px;
  color: #FFFFFF;
}
.chevronDroit :hover {
  cursor: pointer;
}

.paginationPhotos {
  z-index: 1;
  position: absolute;
  font-size: 18px;
  bottom: 20px;
  left: 50%;
  color: #FFFFFF;
}

.containerCollapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0px;
}
.containerCollapse :hover {
  cursor: pointer;
}

.titreCollapse {
  width: 53%;
  height: 47px;
  border-radius: 5px;
  background-color: #FF6060;
  color: #FFFFFF;
  font-size: 20px;
  padding: 0 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.descriptionCollapse {
  width: 53%;
  background-color: #F6F6F6;
  margin: 0;
  border-radius: 5px;
  padding: 20px;
}

.containerCard {
  margin: 45px 100px;
  padding: 25px;
  background-color: #F6F6F6;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .containerCard {
    background-color: #FFFFFF;
    margin: 45px 0px;
  }
}

.ensembleFichesCard {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.ficheCard {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin: 25px;
}

.imageCard {
  height: 100%;
  transform: scale(1);
}
.imageCard :hover {
  transition: transform 5s;
  transform: scale(1.05);
}

.degradeCard {
  position: absolute;
  height: 340px;
  width: 340px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}

.titreCard {
  z-index: 1;
  position: absolute;
  left: 0px;
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.logoFooter {
  height: 40px;
  color: #FFFFFF;
  margin: 66px 0px 40px;
}

.containerFooter {
  background-color: #000000;
  text-align: center;
  height: 210px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .containerFooter {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .containerFooter {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .containerFooter {
    font-size: 24px;
  }
}

.pageErreur {
  text-align: center;
}

.numeroErreur {
  margin: 130px 0px 60px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .numeroErreur {
    font-size: 96px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .numeroErreur {
    font-size: 192px;
  }
}
@media (min-width: 992px) {
  .numeroErreur {
    font-size: 288px;
  }
}

.textErreur {
  margin: 0 100px 150px;
}
@media (max-width: 767px) {
  .textErreur {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .textErreur {
    font-size: 27px;
  }
}
@media (min-width: 992px) {
  .textErreur {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .lienErreur {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .lienErreur {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .lienErreur {
    font-size: 18px;
  }
}

.pageLogement {
  display: flex;
  flex-direction: column;
  margin: 0 100px 30px;
}

.presentationLogement {
  display: flex;
  justify-content: space-between;
}
.presentationLogement h1 {
  margin: 0px;
  font-size: 36px;
}
.presentationLogement p {
  font-size: 18px;
}

.hoteLogement {
  display: flex;
}

.containerImageHoteLogement {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  overflow: hidden;
}

.imageHoteLogement {
  height: 100%;
}

.identiteLogement {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 10px 0 0;
  font-size: 18px;
}

.containerTagsEtAppreciationLogemment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.tagsLogement span {
  color: #FFFFFF;
  background-color: #FF6060;
  margin: 0 10px 0 0;
  border-radius: 10px;
  padding: 0 40px;
}

.etoileLogement {
  color: #E3E3E3;
  margin: 0px 0px 0px 10px;
}

.etoileLogementColoree {
  margin: 0px 0px 0px 10px;
}

.containerDetailLogement {
  display: flex;
  justify-content: space-between;
}

.containerCollapseLogement {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.containerCollapseLogement :hover {
  cursor: pointer;
}

.titreCollapseLogement {
  width: 100%;
  height: 47px;
  border-radius: 5px;
  background-color: #FF6060;
  color: #FFFFFF;
  font-size: 20px;
  padding: 0 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.descriptionCollapseLogement {
  width: 100%;
  background-color: #F6F6F6;
  margin: 0;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
